<div class="container text-center vh-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-8">
            <%= flash[:notice] %>
            <h1 class = "text-light bg-dark">スクリーン</h1>
            <table class = "table mt-5">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% grouped_sheets = @sheets.group_by(&:row) %>
                    <% grouped_sheets.each do |row, sheets| %>
                    <tr>
                        <th scope="row"><%= row.upcase %></th>
                        <% sheets.each do |sheet| %>
                            <td>
                                <% if !sheet.reservations.find_by(date: params[:date], schedule_id: params[:schedule_id]) %>
                                    <%= link_to "#{sheet.row}-#{sheet.column}", movie_sheet_reservation_path(@movie, @schedule, date: @date, sheet_id: sheet.id ) %>
                                <% end %>
                            </td>
                        <% end %>
                        <th><%= row.upcase %></th>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
